<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antd Demo1</title>
    <!--引入antd ui以及reactjs
    1.首先需要引入相关JS类库，因为类库之间有依赖关系，不要改变顺序。
    2.编写 text/babel 代码，使用antd组件需要加上antd前缀. 才能正常使用。-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.19.3/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.23.4/antd.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.23.4/antd.min.js"></script>
</head>
<body>
<div id="app"></div>
<script type="text/babel">
    class MyComponent extends React.Component {
        render() {
            return (<antd.Space>
                <antd.Button type="primary">Primary</antd.Button>
            </antd.Space>);
        }
    }

    ReactDOM.render(<MyComponent/>, document.getElementById("app"));
</script>

</body>
</html>