<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antd Demo1</title>
    <!--引入antd ui以及reactjs-->
    <link rel="https://unpkg.com/antd@3.9.3/dist/antd.min.css">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://unpkg.com/antd@3.9.3/dist/antd.min.js"></script>
</head>
<body>
<div id="app"></div>
<script type="text/babel">
    class MyComponent extends React.Component {
        render() {
            return (<antd.Button type="primary">Primary</antd.Button>);
        }
    }

    ReactDOM.render(<MyComponent/>, document.getElementById("app"));
</script>

</body>
</html>