<!DOCTYPE html>
<!--suppress JSXUnresolvedComponent 忽略[无法解析react和antd标签]的报错-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antd Demo1</title>
    <!--引入antd ui以及reactjs
    https://cdnjs.com/
    1.首先需要引入相关JS类库，因为类库之间有依赖关系，不要改变顺序。
    2.编写 text/babel 代码，使用antd组件需要加上antd前缀. 才能正常使用。-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.8.1/prop-types.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.19.3/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.15/antd.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.15/antd.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
</head>
<body>
<div id="app"></div>
<!--<script type="module">
    import {ReactInnerHTMLByWillis} from "../../static/components/ReactInnerHTMLByWillis";
    console.dir(ReactInnerHTMLByWillis);
</script>-->
<script type="text/babel">
    class MyComponent extends React.Component {
        constructor(props) {
            super(props)
            // react state的正确写法，亲测，可行
            this.state = {
                loading: false,
                data: {} || ""
            }
        }

        // setTimeout是一个定时器，以本例举例说明，行为：5秒后，执行左侧花括号{}里的动作
        handleClick = () => {
            this.setState({loading: true});
            setTimeout(() => {
                axios.get("http://localhost:5050/welcome").then(res => {
                    if (res.status === 200) {
                        antd.message.success("success to get the data from system backend!");
                        this.setState({loading: false, data: res.data});
                    }
                }).catch(error => {
                    antd.message.error("error occurs.", error);
                })
            }, 5000);
        }

        // <!--下图<antd>标签等于<></>标签-->
        // line61 <ReactInnerHTMLByWillis htmlContent={data}></ReactInnerHTMLByWillis>
        render() {
            const {loading, data} = this.state;
            return (
                <antd>
                    <antd.Button type="dashed" onClick={this.handleClick} danger loading={loading}>加载HTML</antd.Button>
                    <antd.Divider type="vertical"/>
                    <div dangerouslySetInnerHTML={{__html: data}}></div>
                </antd>)

        }
    }

    ReactDOM.render(<MyComponent/>, document.getElementById("app"));
</script>
</body>
</html>